<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrmBook.BookMapper">

    <resultMap id="BaseResultMap" type="OrmBook.Book">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>
    <resultMap id="BookWithAuthor" type="OrmBook.Book" extends="BaseResultMap">
        <association property="author" javaType="OrmBook.Author">
            <id column="aid" property="id" />
            <result column="aname" property="name"/>
            <result column="aage" property="age" />
        </association>
    </resultMap>

    <select id="getBookById" resultMap="BookWithAuthor">
        SELECT b.*,a.`age` AS aage,a.`id` AS aid,a.`name` AS aname FROM book b,author a WHERE b.`aid`=a.`id` AND b.`id`=#{id}
    </select>

    <resultMap id="BookWithAuthor2" type="OrmBook.Book" extends="BaseResultMap">
        <association property="author" javaType="OrmBook.Author"
                     select="OrmBook.BookMapper.getAuthorById" column="aid" fetchType="lazy"/>
    </resultMap>
    <select id="getBookById2" resultMap="BookWithAuthor2">
        SELECT * FROM book WHERE id=#{id};
    </select>
    <select id="getAuthorById" resultType="OrmBook.Author">
        SELECT * FROM author WHERE id=#{aid};
    </select>
</mapper>